body{
    margin: 0;
    font-family: poppins;
    background-color: #F2F2F2;
}


/* navbar */
.navbar{
    height: 50px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #F2F2F2;
    box-shadow: 0 4px 8px #0000001a;
    z-index: 2;
    position: fixed; 
    top: 0;          
    left: 0;
    width: 95%;
}

.navbar h1{
    margin: 0;
    font-size: 24px;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.navbar a{
    text-decoration: none;
    color: #4F5902;
}
.menu a:hover{
    color: #F2780B;
    transition: 0.1s ease;
    font-weight: bold;
}
.rekomendasi a:hover{
    color: #F2780B;
    transition: 0.1s ease;
    font-weight: bold;
}
.contact-us a:hover{
    color: #F2780B;
    transition: 0.1s ease;
    font-weight: bold;
}

.nav-log-btn{
    background-color: #F2780B;
    border: none;
    padding: 10px 30px 10px 30px;
    margin-top: 4px;
    margin-right: 20px;
    border-radius: 100px;
    font-size: 15px;
    color: #F2F2F2;
    align-items: center;
}
.nav-log-btn:hover{
    background-color: transparent;
    color: #F2780B;
    transition: 0.3s ease;
}

/* hero page */
.heropage{
    display: flex;
    justify-content: space-around;
}

.hero-img img{
    width: 1030px;
    margin-top: -300px;
    margin-left: -250px;
    z-index: 1;
    position: relative;
}

.hero img{
    width: 550px;
    margin-right: 100px;
    margin-top: 100px;
}
/* .hey{
    position: absolute;
    top: 250px;
    left: 200px;
    justify-content: left;
    z-index: 1;
    font-size: 40px;
}
.hello{
    position: absolute;
    top: 200px;
    left: 200px;
    justify-content: left;
    z-index: 1;
    font-size: 20px;
}
.head-desc{
    position: absolute;
    top: 390px;
    left: 200px;
    justify-content: left;
    z-index: 1;
    font-size: 15px;
} */

.head-tittle{
    position: absolute;
    top: 100px;
    left: 170px;
    justify-content: left;
    z-index: 1;
    gap: 10px;
    width: 30%;
    padding-bottom: 10px;
}
.head-tittle h5{
    font-size: 20px;
}
.head-tittle h1{
    font-size: 50px;
}
.head-tittle p{
    font-size: 15px;
}

.start-btn{
    width: 120px;
    height: 40px;
    border-radius: 100px;
    border: none; color: #F2780B;
    background-color: #F2F2F2;
    margin-top: 10px;
}
.start-btn:hover{
    background-color: #e3e3e3;
    color: #F2780B;
}

/* our services section */


.ourservices-text{
    text-align: center;
    color: #F2780B;
    font-size: 45px;
    padding-top: 100px;
}

.services-section {
  background-color: #f4f4f4;
  padding: 100px 0;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  padding: 50px;
}

.services-box {
  background-color: #b5ba91;
  width: 250px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
  color: #3d3d3d;
  font-weight: 600;
  transition: transform 0.2s ease;
  color: #4F5902;
}

.services-box:hover {
  transform: translateY(-5px);
}

.services-box img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 15px;
}

.about-section{
    background-color: #4F5902;
    width: 35%;
    justify-content: space-around;
}